In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [34]:
df_play=pd.read_csv('nba_playoffs.csv')

In [35]:
df_play

,team,team_short,conference,games_won,games_lose,conference_position,games_played,points_scored,points_missed,game_won_home,game_lose_home,game_won_away,game_lose_away,seed,conf_abbr
0,Nuggets,DEN,West,53,29,34-18,82,115.8,112.5,34,7,19,22,1,W
1,Bucks,MIL,East,58,24,35-17,82,116.9,113.3,32,9,26,15,1,E
2,Celtics,BOS,East,57,25,34-18,82,117.9,111.4,32,9,25,16,2,E
3,Grizzlies,MEM,West,51,31,30-22,82,116.9,113.0,35,6,16,25,2,W
4,76ers,PHI,East,54,28,34-18,82,115.2,110.9,29,12,25,16,3,E
5,Kings,SAC,West,48,34,32-20,82,120.7,118.1,23,18,25,16,3,W
6,Cavaliers,CLE,East,51,31,34-18,82,112.3,106.9,31,10,20,21,4,E
7,Suns,PHX,West,45,37,30-22,82,113.6,111.6,28,13,17,24,4,W
8,Clippers,LAC,West,44,38,27-25,82,113.6,113.1,23,18,21,20,5,W
9,Knicks,NYK,East,47,35,32-20,82,116.0,113.1,23,18,24,17,5,E
10,Warriors,GSW,West,44,38,30-22,82,118.9,117.1,33,8,11,30,6,W
11,Nets,BKN,East,45,37,30-22,82,113.4,112.5,23,18,22,19,6,E
12,Lakers,LAL,West,43,39,27-25,82,117.2,116.6,23,18,20,21,7,W
13,Heat,MIA,East,44,38,24-28,82,109.5,109.8,27,14,17,24,7,E
14,Hawks,ATL,East,41,41,26-26,82,118.4,118.1,24,17,17,24,8,E
15,Timberwolves,MIN,West,42,40,29-23,82,115.8,115.8,22,19,20,21,8,W
16,Pelicans,NOP,West,42,40,29-23,82,114.4,112.5,27,14,15,26,9,W
17,Raptors,TOR,East,41,41,26-26,82,112.9,111.4,27,14,14,27,9,E
18,Bulls,CHI,East,40,42,27-25,82,113.1,111.8,22,19,18,23,10,E
19,Thunder,OKC,West,40,42,25-27,82,117.5,116.4,24,17,16,25,10,W

In [36]:
df_play.info

<bound method DataFrame.info of             team team_short conference  games_won  games_lose  \
0        Nuggets        DEN       West         53          29
1          Bucks        MIL       East         58          24
2        Celtics        BOS       East         57          25
3      Grizzlies        MEM       West         51          31
4          76ers        PHI       East         54          28
5          Kings        SAC       West         48          34
6      Cavaliers        CLE       East         51          31
7           Suns        PHX       West         45          37
8       Clippers        LAC       West         44          38
9         Knicks        NYK       East         47          35
10      Warriors        GSW       West         44          38
11          Nets        BKN       East         45          37
12        Lakers        LAL       West         43          39
13          Heat        MIA       East         44          38
14         Hawks        ATL       East         41          41
15  Timberwolves        MIN       West         42          40
16      Pelicans        NOP       West         42          40
17       Raptors        TOR       East         41          41
18         Bulls        CHI       East         40          42
19       Thunder        OKC       West         40          42

   conference_position  games_played  points_scored  points_missed  \
0                34-18            82          115.8          112.5
1                35-17            82          116.9          113.3
2                34-18            82          117.9          111.4
3                30-22            82          116.9          113.0
4                34-18            82          115.2          110.9
5                32-20            82          120.7          118.1
6                34-18            82          112.3          106.9
7                30-22            82          113.6          111.6
8                27-25            82          113.6          113.1
9                32-20            82          116.0          113.1
10               30-22            82          118.9          117.1
11               30-22            82          113.4          112.5
12               27-25            82          117.2          116.6
13               24-28            82          109.5          109.8
14               26-26            82          118.4          118.1
15               29-23            82          115.8          115.8
16               29-23            82          114.4          112.5
17               26-26            82          112.9          111.4
18               27-25            82          113.1          111.8
19               25-27            82          117.5          116.4

    game_won_home  game_lose_home  game_won_away  game_lose_away  seed  \
0              34               7             19              22     1
1              32               9             26              15     1
2              32               9             25              16     2
3              35               6             16              25     2
4              29              12             25              16     3
5              23              18             25              16     3
6              31              10             20              21     4
7              28              13             17              24     4
8              23              18             21              20     5
9              23              18             24              17     5
10             33               8             11              30     6
11             23              18             22              19     6
12             23              18             20              21     7
13             27              14             17              24     7
14             24              17             17              24     8
15             22              19             20              21     8
16             27              14             15              26     9
17             27              14             14              27     9
18             22              19             18              23    10
19             24              17             16              25    10

   conf_abbr
0          W
1          E
2          E
3          W
4          E
5          W
6          E
7          W
8          W
9          E
10         W
11         E
12         W
13         E
14         E
15         W
16         W
17         E
18         E
19         W  >

In [37]:
df_play.head()

,team,team_short,conference,games_won,games_lose,conference_position,games_played,points_scored,points_missed,game_won_home,game_lose_home,game_won_away,game_lose_away,seed,conf_abbr
0,Nuggets,DEN,West,53,29,34-18,82,115.8,112.5,34,7,19,22,1,W
1,Bucks,MIL,East,58,24,35-17,82,116.9,113.3,32,9,26,15,1,E
2,Celtics,BOS,East,57,25,34-18,82,117.9,111.4,32,9,25,16,2,E
3,Grizzlies,MEM,West,51,31,30-22,82,116.9,113.0,35,6,16,25,2,W
4,76ers,PHI,East,54,28,34-18,82,115.2,110.9,29,12,25,16,3,E

In [38]:
df_play.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   team                 20 non-null     object
 1   team_short           20 non-null     object
 2   conference           20 non-null     object
 3   games_won            20 non-null     int64
 4   games_lose           20 non-null     int64
 5   conference_position  20 non-null     object
 6   games_played         20 non-null     int64
 7   points_scored        20 non-null     float64
 8   points_missed        20 non-null     float64
 9   game_won_home        20 non-null     int64
 10  game_lose_home       20 non-null     int64
 11  game_won_away        20 non-null     int64
 12  game_lose_away       20 non-null     int64
 13  seed                 20 non-null     int64
 14  conf_abbr            20 non-null     object
dtypes: float64(2), int64(8), object(5)
memory usage: 2.5+ KB

In [39]:
df_play.isnull()

,team,team_short,conference,games_won,games_lose,conference_position,games_played,points_scored,points_missed,game_won_home,game_lose_home,game_won_away,game_lose_away,seed,conf_abbr
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
df_play.describe

<bound method NDFrame.describe of             team team_short conference  games_won  games_lose  \
0        Nuggets        DEN       West         53          29
1          Bucks        MIL       East         58          24
2        Celtics        BOS       East         57          25
3      Grizzlies        MEM       West         51          31
4          76ers        PHI       East         54          28
5          Kings        SAC       West         48          34
6      Cavaliers        CLE       East         51          31
7           Suns        PHX       West         45          37
8       Clippers        LAC       West         44          38
9         Knicks        NYK       East         47          35
10      Warriors        GSW       West         44          38
11          Nets        BKN       East         45          37
12        Lakers        LAL       West         43          39
13          Heat        MIA       East         44          38
14         Hawks        ATL       East         41          41
15  Timberwolves        MIN       West         42          40
16      Pelicans        NOP       West         42          40
17       Raptors        TOR       East         41          41
18         Bulls        CHI       East         40          42
19       Thunder        OKC       West         40          42

   conference_position  games_played  points_scored  points_missed  \
0                34-18            82          115.8          112.5
1                35-17            82          116.9          113.3
2                34-18            82          117.9          111.4
3                30-22            82          116.9          113.0
4                34-18            82          115.2          110.9
5                32-20            82          120.7          118.1
6                34-18            82          112.3          106.9
7                30-22            82          113.6          111.6
8                27-25            82          113.6          113.1
9                32-20            82          116.0          113.1
10               30-22            82          118.9          117.1
11               30-22            82          113.4          112.5
12               27-25            82          117.2          116.6
13               24-28            82          109.5          109.8
14               26-26            82          118.4          118.1
15               29-23            82          115.8          115.8
16               29-23            82          114.4          112.5
17               26-26            82          112.9          111.4
18               27-25            82          113.1          111.8
19               25-27            82          117.5          116.4

    game_won_home  game_lose_home  game_won_away  game_lose_away  seed  \
0              34               7             19              22     1
1              32               9             26              15     1
2              32               9             25              16     2
3              35               6             16              25     2
4              29              12             25              16     3
5              23              18             25              16     3
6              31              10             20              21     4
7              28              13             17              24     4
8              23              18             21              20     5
9              23              18             24              17     5
10             33               8             11              30     6
11             23              18             22              19     6
12             23              18             20              21     7
13             27              14             17              24     7
14             24              17             17              24     8
15             22              19             20              21     8
16             27              14             15              26     9
17             27              14             14              27     9
18             22              19             18              23    10
19             24              17             16              25    10

   conf_abbr
0          W
1          E
2          E
3          W
4          E
5          W
6          E
7          W
8          W
9          E
10         W
11         E
12         W
13         E
14         E
15         W
16         W
17         E
18         E
19         W  >

<bound method NDFrame.describe of             team team_short conference  games_won  games_lose  \
0        Nuggets        DEN       West         53          29
1          Bucks        MIL       East         58          24
2        Celtics        BOS       East         57          25
3      Grizzlies        MEM       West         51          31
4          76ers        PHI       East         54          28
5          Kings        SAC       West         48          34
6      Cavaliers        CLE       East         51          31
7           Suns        PHX       West         45          37
8       Clippers        LAC       West         44          38
9         Knicks        NYK       East         47          35
10      Warriors        GSW       West         44          38
11          Nets        BKN       East         45          37
12        Lakers        LAL       West         43          39
13          Heat        MIA       East         44          38
14         Hawks        ATL       East         41          41
15  Timberwolves        MIN       West         42          40
16      Pelicans        NOP       West         42          40
17       Raptors        TOR       East         41          41
18         Bulls        CHI       East         40          42
19       Thunder        OKC       West         40          42

   conference_position  games_played  points_scored  points_missed  \
0                34-18            82          115.8          112.5
1                35-17            82          116.9          113.3
2                34-18            82          117.9          111.4
3                30-22            82          116.9          113.0
4                34-18            82          115.2          110.9
5                32-20            82          120.7          118.1
6                34-18            82          112.3          106.9
7                30-22            82          113.6          111.6
8                27-25            82          113.6          113.1
9                32-20            82          116.0          113.1
10               30-22            82          118.9          117.1
11               30-22            82          113.4          112.5
12               27-25            82          117.2          116.6
13               24-28            82          109.5          109.8
14               26-26            82          118.4          118.1
15               29-23            82          115.8          115.8
16               29-23            82          114.4          112.5
17               26-26            82          112.9          111.4
18               27-25            82          113.1          111.8
19               25-27            82          117.5          116.4

    game_won_home  game_lose_home  game_won_away  game_lose_away  seed  \
0              34               7             19              22     1
1              32               9             26              15     1
2              32               9             25              16     2
3              35               6             16              25     2
4              29              12             25              16     3
5              23              18             25              16     3
6              31              10             20              21     4
7              28              13             17              24     4
8              23              18             21              20     5
9              23              18             24              17     5
10             33               8             11              30     6
11             23              18             22              19     6
12             23              18             20              21     7
13             27              14             17              24     7
14             24              17             17              24     8
15             22              19             20              21     8
16             27              14             15              26     9
17             27              14             14              27     9
18             22              19             18              23    10
19             24              17             16              25    10

   conf_abbr
0          W
1          E
2          E
3          W
4          E
5          W
6          E
7          W
8          W
9          E
10         W
11         E
12         W
13         E
14         E
15         W
16         W
17         E
18         E
19         W  >

In [ ]:
df_play.describe()

,games_won,games_lose,games_played,points_scored,points_missed,game_won_home,game_lose_home,game_won_away,game_lose_away,seed
count,20.000000,20.000000,20.0,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,46.500000,35.500000,82.0,115.500000,113.295000,27.100000,13.900000,19.400000,21.600000,5.500000
std,5.642881,5.642881,0.0,2.672472,2.908151,4.399761,4.399761,4.172592,4.172592,2.946898
min,40.000000,24.000000,82.0,109.500000,106.900000,22.000000,6.000000,11.000000,15.000000,1.000000
25%,42.000000,31.000000,82.0,113.550000,111.550000,23.000000,9.750000,16.750000,18.500000,3.000000
50%,44.500000,37.500000,82.0,115.800000,112.750000,27.000000,14.000000,19.500000,21.500000,5.500000
75%,51.000000,40.000000,82.0,117.275000,115.950000,31.250000,18.000000,22.500000,24.250000,8.000000
max,58.000000,42.000000,82.0,120.700000,118.100000,35.000000,19.000000,26.000000,30.000000,10.000000

In [ ]:
print ((df_play["team_short"]))

0     DEN
1     MIL
2     BOS
3     MEM
4     PHI
5     SAC
6     CLE
7     PHX
8     LAC
9     NYK
10    GSW
11    BKN
12    LAL
13    MIA
14    ATL
15    MIN
16    NOP
17    TOR
18    CHI
19    OKC
Name: team_short, dtype: object

In [ ]:
df_play.games_won

0     53
1     58
2     57
3     51
4     54
5     48
6     51
7     45
8     44
9     47
10    44
11    45
12    43
13    44
14    41
15    42
16    42
17    41
18    40
19    40
Name: games_won, dtype: int64

In [ ]:
print ((df_play["conference_position"]))

0     34-18
1     35-17
2     34-18
3     30-22
4     34-18
5     32-20
6     34-18
7     30-22
8     27-25
9     32-20
10    30-22
11    30-22
12    27-25
13    24-28
14    26-26
15    29-23
16    29-23
17    26-26
18    27-25
19    25-27
Name: conference_position, dtype: object

In [ ]:
print ((df_play["games_won"]))

0     53
1     58
2     57
3     51
4     54
5     48
6     51
7     45
8     44
9     47
10    44
11    45
12    43
13    44
14    41
15    42
16    42
17    41
18    40
19    40
Name: games_won, dtype: int64

In [42]:
df_play[["games_won","games_played"]]

    games_won  games_played
0          53            82
1          58            82
2          57            82
3          51            82
4          54            82
5          48            82
6          51            82
7          45            82
8          44            82
9          47            82
10         44            82
11         45            82
12         43            82
13         44            82
14         41            82
15         42            82
16         42            82
17         41            82
18         40            82
19         40            82

In [43]:
df_play[["team","games_played"]]

            team  games_played
0        Nuggets            82
1          Bucks            82
2        Celtics            82
3      Grizzlies            82
4          76ers            82
5          Kings            82
6      Cavaliers            82
7           Suns            82
8       Clippers            82
9         Knicks            82
10      Warriors            82
11          Nets            82
12        Lakers            82
13          Heat            82
14         Hawks            82
15  Timberwolves            82
16      Pelicans            82
17       Raptors            82
18         Bulls            82
19       Thunder            82

In [44]:
df_play[1:5]

,team,team_short,conference,games_won,games_lose,conference_position,games_played,points_scored,points_missed,game_won_home,game_lose_home,game_won_away,game_lose_away,seed,conf_abbr
1,Bucks,MIL,East,58,24,35-17,82,116.9,113.3,32,9,26,15,1,E
2,Celtics,BOS,East,57,25,34-18,82,117.9,111.4,32,9,25,16,2,E
3,Grizzlies,MEM,West,51,31,30-22,82,116.9,113.0,35,6,16,25,2,W
4,76ers,PHI,East,54,28,34-18,82,115.2,110.9,29,12,25,16,3,E

In [49]:
df_play[3:20]

,team,team_short,conference,games_won,games_lose,conference_position,games_played,points_scored,points_missed,game_won_home,game_lose_home,game_won_away,game_lose_away,seed,conf_abbr
3,Grizzlies,MEM,West,51,31,30-22,82,116.9,113.0,35,6,16,25,2,W
4,76ers,PHI,East,54,28,34-18,82,115.2,110.9,29,12,25,16,3,E
5,Kings,SAC,West,48,34,32-20,82,120.7,118.1,23,18,25,16,3,W
6,Cavaliers,CLE,East,51,31,34-18,82,112.3,106.9,31,10,20,21,4,E
7,Suns,PHX,West,45,37,30-22,82,113.6,111.6,28,13,17,24,4,W
8,Clippers,LAC,West,44,38,27-25,82,113.6,113.1,23,18,21,20,5,W
9,Knicks,NYK,East,47,35,32-20,82,116.0,113.1,23,18,24,17,5,E
10,Warriors,GSW,West,44,38,30-22,82,118.9,117.1,33,8,11,30,6,W
11,Nets,BKN,East,45,37,30-22,82,113.4,112.5,23,18,22,19,6,E
12,Lakers,LAL,West,43,39,27-25,82,117.2,116.6,23,18,20,21,7,W
13,Heat,MIA,East,44,38,24-28,82,109.5,109.8,27,14,17,24,7,E
14,Hawks,ATL,East,41,41,26-26,82,118.4,118.1,24,17,17,24,8,E
15,Timberwolves,MIN,West,42,40,29-23,82,115.8,115.8,22,19,20,21,8,W
16,Pelicans,NOP,West,42,40,29-23,82,114.4,112.5,27,14,15,26,9,W
17,Raptors,TOR,East,41,41,26-26,82,112.9,111.4,27,14,14,27,9,E
18,Bulls,CHI,East,40,42,27-25,82,113.1,111.8,22,19,18,23,10,E
19,Thunder,OKC,West,40,42,25-27,82,117.5,116.4,24,17,16,25,10,W