In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
df_estadisticas =pd.read_csv("dato.csv")

In [3]:
df_estadisticas

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class
0,Wii,Sports,Nintendo,"41,36","28,96","3,77","8,45","82,54",E,Bueno
1,Wii,Racing,Nintendo,"15,68","12,8","3,79","3,29","35,57",E,Excelente
2,Wii,Sports,Nintendo,"15,61","10,95","3,28","2,95","32,78",E,Excelente
3,DS,Platform,Nintendo,"11,28","9,15","6,5","2,88","29,81",E,Excelente
4,Wii,Misc,Nintendo,"13,96","9,18","2,93","2,84","28,92",E,Malo
...,...,...,...,...,...,...,...,...,...,...
7107,PC,Action,Ubisoft,0,0,0,0,"0,01",T,Excelente
7108,PC,Shooter,Midway Games,0,0,0,0,"0,01",T,Aceptable
7109,PC,Sports,Sega,0,0,0,0,"0,01",E,Aceptable
7110,PC,Strategy,Take-Two Interactive,0,0,0,0,"0,01",E10+,Aceptable
7111,PS4,Platform,Team Meat,0,0,0,0,"0,01",T,Excelente

In [4]:
df_estadisticas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7112 entries, 0 to 7111
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Platform            7112 non-null   object
 1   Genre               7112 non-null   object
 2   Publisher           7112 non-null   object
 3   NA_Sales            7112 non-null   object
 4   EU_Sales            7112 non-null   object
 5   JP_Sales            7112 non-null   object
 6   Other_Sales         7112 non-null   object
 7   Global_Sales        7112 non-null   object
 8   Rating              7112 non-null   object
 9   Critic_Score_Class  7112 non-null   object
dtypes: object(10)
memory usage: 555.8+ KB

In [5]:
df_estadisticas.head

<bound method NDFrame.head of      Platform     Genre             Publisher NA_Sales EU_Sales JP_Sales  \
0         Wii    Sports              Nintendo    41,36    28,96     3,77
1         Wii    Racing              Nintendo    15,68     12,8     3,79
2         Wii    Sports              Nintendo    15,61    10,95     3,28
3          DS  Platform              Nintendo    11,28     9,15      6,5
4         Wii      Misc              Nintendo    13,96     9,18     2,93
...       ...       ...                   ...      ...      ...      ...
7107       PC    Action               Ubisoft        0        0        0
7108       PC   Shooter          Midway Games        0        0        0
7109       PC    Sports                  Sega        0        0        0
7110       PC  Strategy  Take-Two Interactive        0        0        0
7111      PS4  Platform             Team Meat        0        0        0

     Other_Sales Global_Sales Rating Critic_Score_Class
0           8,45        82,54      E              Bueno
1           3,29        35,57      E          Excelente
2           2,95        32,78      E          Excelente
3           2,88        29,81      E          Excelente
4           2,84        28,92      E               Malo
...          ...          ...    ...                ...
7107           0         0,01      T          Excelente
7108           0         0,01      T          Aceptable
7109           0         0,01      E          Aceptable
7110           0         0,01   E10+          Aceptable
7111           0         0,01      T          Excelente

[7112 rows x 10 columns]>

In [11]:
print(df_estadisticas["Platform"])

0       Wii
1       Wii
2       Wii
3        DS
4       Wii
       ...
7107     PC
7108     PC
7109     PC
7110     PC
7111    PS4
Name: Platform, Length: 7112, dtype: object

In [12]:
print(df_estadisticas["Publisher"])

0                   Nintendo
1                   Nintendo
2                   Nintendo
3                   Nintendo
4                   Nintendo
                ...
7107                 Ubisoft
7108            Midway Games
7109                    Sega
7110    Take-Two Interactive
7111               Team Meat
Name: Publisher, Length: 7112, dtype: object

In [14]:
print(df_estadisticas["Publisher"],df_estadisticas["Platform"])

0                   Nintendo
1                   Nintendo
2                   Nintendo
3                   Nintendo
4                   Nintendo
                ...
7107                 Ubisoft
7108            Midway Games
7109                    Sega
7110    Take-Two Interactive
7111               Team Meat
Name: Publisher, Length: 7112, dtype: object 0       Wii
1       Wii
2       Wii
3        DS
4       Wii
       ...
7107     PC
7108     PC
7109     PC
7110     PC
7111    PS4
Name: Platform, Length: 7112, dtype: object

In [16]:
df_estadisticas.describe()

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class
count,7112,7112,7112,7112,7112,7112,7112,7112,7112,7112
unique,17,12,278,349,272,160,147,542,7,4
top,PS2,Action,Electronic Arts,0,0,0,"0,01","0,02",T,Excelente
freq,1169,1698,971,642,1015,5052,1575,221,2489,1997

In [18]:
df_estadisticas.head()

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class
0,Wii,Sports,Nintendo,"41,36","28,96","3,77","8,45","82,54",E,Bueno
1,Wii,Racing,Nintendo,"15,68","12,8","3,79","3,29","35,57",E,Excelente
2,Wii,Sports,Nintendo,"15,61","10,95","3,28","2,95","32,78",E,Excelente
3,DS,Platform,Nintendo,"11,28","9,15","6,5","2,88","29,81",E,Excelente
4,Wii,Misc,Nintendo,"13,96","9,18","2,93","2,84","28,92",E,Malo

In [22]:
df_estadisticas.info(["Publisher"])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7112 entries, 0 to 7111
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Platform            7112 non-null   object
 1   Genre               7112 non-null   object
 2   Publisher           7112 non-null   object
 3   NA_Sales            7112 non-null   object
 4   EU_Sales            7112 non-null   object
 5   JP_Sales            7112 non-null   object
 6   Other_Sales         7112 non-null   object
 7   Global_Sales        7112 non-null   object
 8   Rating              7112 non-null   object
 9   Critic_Score_Class  7112 non-null   object
dtypes: object(10)
memory usage: 555.8+ KB

In [23]:
print(df_estadisticas)

     Platform     Genre             Publisher NA_Sales EU_Sales JP_Sales  \
0         Wii    Sports              Nintendo    41,36    28,96     3,77
1         Wii    Racing              Nintendo    15,68     12,8     3,79
2         Wii    Sports              Nintendo    15,61    10,95     3,28
3          DS  Platform              Nintendo    11,28     9,15      6,5
4         Wii      Misc              Nintendo    13,96     9,18     2,93
...       ...       ...                   ...      ...      ...      ...
7107       PC    Action               Ubisoft        0        0        0
7108       PC   Shooter          Midway Games        0        0        0
7109       PC    Sports                  Sega        0        0        0
7110       PC  Strategy  Take-Two Interactive        0        0        0
7111      PS4  Platform             Team Meat        0        0        0

     Other_Sales Global_Sales Rating Critic_Score_Class
0           8,45        82,54      E              Bueno
1           3,29        35,57      E          Excelente
2           2,95        32,78      E          Excelente
3           2,88        29,81      E          Excelente
4           2,84        28,92      E               Malo
...          ...          ...    ...                ...
7107           0         0,01      T          Excelente
7108           0         0,01      T          Aceptable
7109           0         0,01      E          Aceptable
7110           0         0,01   E10+          Aceptable
7111           0         0,01      T          Excelente

[7112 rows x 10 columns]

In [24]:
(df_estadisticas)

,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class
0,Wii,Sports,Nintendo,"41,36","28,96","3,77","8,45","82,54",E,Bueno
1,Wii,Racing,Nintendo,"15,68","12,8","3,79","3,29","35,57",E,Excelente
2,Wii,Sports,Nintendo,"15,61","10,95","3,28","2,95","32,78",E,Excelente
3,DS,Platform,Nintendo,"11,28","9,15","6,5","2,88","29,81",E,Excelente
4,Wii,Misc,Nintendo,"13,96","9,18","2,93","2,84","28,92",E,Malo
...,...,...,...,...,...,...,...,...,...,...
7107,PC,Action,Ubisoft,0,0,0,0,"0,01",T,Excelente
7108,PC,Shooter,Midway Games,0,0,0,0,"0,01",T,Aceptable
7109,PC,Sports,Sega,0,0,0,0,"0,01",E,Aceptable
7110,PC,Strategy,Take-Two Interactive,0,0,0,0,"0,01",E10+,Aceptable
7111,PS4,Platform,Team Meat,0,0,0,0,"0,01",T,Excelente

In [26]:
df_estadisticas.to_csv('df_estadisticas.csv')