In [1]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("df_estadisticas.csv")

In [3]:
df

,Unnamed: 0,Platform,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Rating,Critic_Score_Class
0,0,Wii,Sports,Nintendo,"41,36","28,96","3,77","8,45","82,54",E,Bueno
1,1,Wii,Racing,Nintendo,"15,68","12,8","3,79","3,29","35,57",E,Excelente
2,2,Wii,Sports,Nintendo,"15,61","10,95","3,28","2,95","32,78",E,Excelente
3,3,DS,Platform,Nintendo,"11,28","9,15","6,5","2,88","29,81",E,Excelente
4,4,Wii,Misc,Nintendo,"13,96","9,18","2,93","2,84","28,92",E,Malo
...,...,...,...,...,...,...,...,...,...,...,...
7107,7107,PC,Action,Ubisoft,0,0,0,0,"0,01",T,Excelente
7108,7108,PC,Shooter,Midway Games,0,0,0,0,"0,01",T,Aceptable
7109,7109,PC,Sports,Sega,0,0,0,0,"0,01",E,Aceptable
7110,7110,PC,Strategy,Take-Two Interactive,0,0,0,0,"0,01",E10+,Aceptable
7111,7111,PS4,Platform,Team Meat,0,0,0,0,"0,01",T,Excelente